.recipe-card {
  width: 100%;
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border-left: solid 32px #cb9b8c;
  box-shadow: 1px 1px 1px 1px #bdbdbd;
}

.recipe-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.recipe-card-title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.recipe-card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recipe-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-likes {
  display: flex;
  align-items: center;
}

.recipe-card-likes > p {
  margin: 0 4px;
}

.recipe-card-author-username {
  font-size: 16px;
  font-weight: bold;
}

.recipe-card-bottom {
  display: flex;
  margin: 0 -4px;
}

.recipe-card-actions {
  display: flex;
  flex: 1;
  margin: 0 4px;
}
