.todo-li {
  display: flex;
  align-items: center;
  width: 560px;
  height: 64px;
}

.todo-checkbox {
  box-shadow: 0 0 0 2px antiquewhite;
}

.todo-text {
  display: 'inline-block';
  margin-left: 8px;
  width: 100%;
  min-height: 16px;
}

.todo-text:hover {
  background-color: antiquewhite;
}

.todo-text:active {
  background-color: thistle;
}
