.notebook-header,
.notebook-listorganizers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-recipe-container {
  display: flex;
  flex: 1;
  margin-right: 8px;
}

.notebook-list-organizers-container {
  display: flex;
  margin: 0 -4px;
}

.filter-list-container,
.sort-list-container {
  margin: 0 4px;
}
