.recipe-page-header {
  display: flex;
  margin-top: 32px;
}

.recipe-page-header-text {
  flex: 1;
  margin-right: 32px;
}

.recipe-page-header-media {
  flex: 1;
  background-color: lightgray;
}

.recipe-page-likes {
  display: flex;
  align-items: center;
}

.recipe-page-likes > p {
  margin: 0 4px;
}

.recipe-page-avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.recipe-page-title > span {
  font-size: 32px;
}

.recipe-page-tabs {
  width: 100%;
  padding: 16px 24px 24px;
  margin: 24px auto;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #bdbdbd;
}

hr {
  color: white;
  margin-top: 16px;
}
